@using PayIn.Web.App.Factories;
@using Xp.Common;
@using PayIn.Application.Dto.Payments.Arguments;
@using PayIn.Application.Dto.Payments.Results;

@using (Html.xpList(
	EventFactory.GetAllName,
	EventFactory.GetAllApi,
	"",
	"resources.event.retrieveAll",
	isTitleActive: true,
	initialSearch: true,
	actions: new ActionLink[] {
		new ActionLink(ActionLink.ActionLinkType.Panel, EventFactory.CreateName, XpIcons.Plus)
	},
	success:
		"scope.form = scope.form || {};" +
		"scope.form.paymentConcessionId = scope.form.paymentConcessionId || {};" +
		"scope.form.paymentConcessionId.$valid = 1;" +
		"scope.temp.paymentConcessionId = data.paymentConcessions;"
))
{
	<div
		 class="row"
		 style="
			position: absolute;
			top: -5px;
			width: 300px;
			padding: 0;
		">
		@(Html.SelectFor<EventGetAllArguments>(x => x.PaymentConcessionId, "paymentConcessionId"))
	</div>
	<div class="table-responsive">
		<table class="table table-hover" ng-show="data.length">
			<thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th translate="resources.event.eventStart">Event Start</th>
                    <th translate="resources.event.eventEnd">Event End</th>
                    <th translate="resources.event.name">Name</th>
                    <th translate="resources.event.totalAmount">TotalAmount</th>
                    <th translate="resources.event.entranceTypes">Entrance Types</th>
                    <th class="icon-column" ng-if="features.hasExhibitors()">&nbsp;</th>
                    <th class="icon-column">&nbsp;</th>
                    <th class="icon-column">&nbsp;</th>
                    <th class="icon-column">&nbsp;</th>
                </tr>
			</thead>
			<tbody>
                <tr ng-repeat="item in data" ng-class="{'b-l b-5x b-success': item.state===1, 'b-l b-5x b-warning': item.state===2}">
                    <td class="icon-column" ng-show="item.state===1">
                        @XpColumns.IconColumn(XpIcons.Trash, popupUrl: EventFactory.Delete, id: "{{item.id}}", arguments: "{\"name\":\"{{item.name}}\"}")
                    </td>
                    <td class="icon-column" ng-show="item.state===1">
                        @XpColumns.IconColumn(XpIcons.Pause, popupUrl: EventFactory.UnsuspendName, id: "{{item.id}}", arguments: "{\"name\":\"{{item.name}}\"}")
                    </td>
                    <td class="icon-column" ng-show="item.state===2">
                        @XpColumns.IconColumn(XpIcons.Trash, popupUrl: EventFactory.Delete, id: "{{item.id}}", arguments: "{\"name\":\"{{item.name}}\"}")
                    </td>
                    <td class="icon-column" ng-show="item.state===2">
                        @XpColumns.IconColumn(XpIcons.Play, popupUrl: EventFactory.SuspendName, id: "{{item.id}}", arguments: "{\"name\":\"{{item.name}}\"}")
                    </td>

                    <td class="icon-column">
                        <div ng-if="item.isVisible">@XpColumns.IconColumn(XpIcons.Eye, popupUrl: EventFactory.Hide, id: "{{item.id}}", arguments: "{\"id\":\"{{item.id}}\"}")</div>
                        <div ng-if="!item.isVisible">@XpColumns.IconColumn(XpIcons.EyeSlash, popupUrl: EventFactory.Show, id: "{{item.id}}", arguments: "{\"id\":\"{{item.id}}\"}")</div>
                    </td>
                    <td class="icon-column">
                        <div ng-if="item.visibility==0">
                            <a data-ui-sref='@EventFactory.VisibilityName ({id:"{{item.id}}"})' data-xp-navigate><i class='@XpIcons.Shop'> </i></a>
                        </div>
                        <div ng-if="item.visibility==1">
                            <a data-ui-sref='@EventFactory.VisibilityName ({id:"{{item.id}}"})' data-xp-navigate><i class='@XpIcons.Globe'> </i></a>
                        </div>
                        <div ng-if="item.visibility==2">
                            <a data-ui-sref='@EventFactory.VisibilityName ({id:"{{item.id}}"})' data-xp-navigate><i class='@XpIcons.Group'> </i></a>
                        </div>
                    </td>
                    <td>@(Html.ColumnFor<EventGetAllResult>(x => x.EventStart, panelUrl: EventFactory.UpdateName, id: "{{item.id}}", arguments: "{\"EntranceSystemName\":\"{arguments.entranceSystemName}}\"}"))</td>
                    <td>@(Html.ColumnFor<EventGetAllResult>(x => x.EventEnd, panelUrl: EventFactory.UpdateName, id: "{{item.id}}", arguments: "{\"EntranceSystemName\":\"{arguments.entranceSystemName}}\"}"))</td>
                    <td>@(Html.ColumnFor<EventGetAllResult>(x => x.Name, panelUrl: EventFactory.UpdateName, id: "{{item.id}}", arguments: "{\"EntranceSystemName\":\"{arguments.entranceSystemName}}\"}"))</td>
                    <td>
                        @(Html.ColumnFor<EventGetAllResult>(x => x.TotalAmount, panelUrl: EventFactory.UpdateName, id: "{{item.id}}", arguments: "{\"EntranceSystemName\":\"{arguments.entranceSystemName}}\"}"))€ +
                        @(Html.ColumnFor<EventGetAllResult>(x => x.TotalExtraPrice, panelUrl: EventFactory.UpdateName, id: "{{item.id}}", arguments: "{\"EntranceSystemName\":\"{arguments.entranceSystemName}}\"}"))€
                    </td>
                    <td class="icon-column">
                        <button class="btn btn-xs btn-info" ui-sref='@EntranceTypeFactory.GetAllName ({id:"{{item.id}}", eventName:"{{item.name}}"})' data-xp-navigate>{{item.entrancesTypes}}</button>
                    </td>
                    <td class="icon-column" ng-if="features.hasExhibitors()">
                        <a data-ui-sref='@ExhibitorFactory.GetAllName ({id:"{{item.id}}", eventName:"{{item.name}}"@*, concession: "{{arguments.paymentConcessionName}}"*@})' data-xp-navigate>
                            <img src="~/App/showcase.svg" height="14px;margin-top:-3px;">
                            <span class="badge badge-sm up bg-info" style="width:auto !important">{{item.exhibitors}}</span>
                        </a>
                    </td>
                    <td class="icon-column">
                        <a data-ui-sref='@ActivityFactory.GetAllName ({id:"{{item.id}}", eventName:"{{item.name}}"@*, concession: "{{arguments.paymentConcessionName}}"*@})' data-xp-navigate>
                            <i class='@XpIcons.Calendar'> </i>
                            <span class="badge badge-sm up bg-info" style="width:auto !important">{{item.activities}}</span>
                        </a>
                    </td>
                    <td class="icon-column">
                        <a ui-sref='@TicketFactory.GetAllName ({eventId:"{{item.id}}"})' xp-navigate>
                            <i class='@XpIcons.Money'> </i>
                            <span class="badge badge-sm up bg-info" style="width:auto !important">{{item.tickets}}</span>
                        </a>
                    </td>
                    <td class="icon-column">
                        <a ui-sref='@NoticeFactory.GetAllName ({eventId:"{{item.id}}"})' xp-navigate>
                            <i class='@XpIcons.Notice'> </i>
                            <span class="badge badge-sm up bg-info" style="width:auto !important">{{item.notices}}</span>
                        </a>
                    </td>
                </tr>
			</tbody>
		</table>
		<footer class="panel-footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						<div style="background-color:#27C24C;" class="legend-graph-color" />
						<p style="float:left;" translate="resources.event.stateActive">Active</p>
					</div>
					<div class="col-xs-12 col-sm-6">
						<div style="background-color:#FAD733;" class="legend-graph-color" />
						<p style="float:left;" translate="resources.event.stateSuspended">Suspended</p>
					</div>
				</div>
			</div>
		</footer>
	</div> 

}