@using PayIn.Web.App.Factories;
@using PayIn.Application.Dto.Payments.Arguments;

@using (Html.xpPost(
	NoticeFactory.CreateEdictName,
	NoticeFactory.CreateEdictApi,
	"",
	"resources.notice.createEdict",
	isTitleActive: true,
	successUrl: "/Notice/CreateImage/{{id}}",
	init:
		"scope.arguments.isVisible = true;" +
		"scope.arguments.visibility = 1;" +
		"scope.arguments.start = moment(new Date()).format('YYYY-MM-DD HH:mm');" +
		"scope.arguments.sendNotification = true;" +
		"scope.currentDate = (new Date()).toJSON()"
))
{
    <div class="panel panel-default" style="margin:-15px 0 15px 0">
        <div class="panel-heading font-bold" translate="resources.notice.edictInfo">Edict information</div>
        <div class="panel-body">
            <div class="row">
                @(Html.ArgumentFor<ApiNoticeCreateEdictArguments>(x => x.Name))
            </div>
			<div class="row">
				@(Html.ArgumentFor<ApiNoticeCreateEdictArguments>(x => x.IsVisible, width: 4))
				@(Html.ArgumentFor<ApiNoticeCreateEdictArguments>(x => x.Visibility, width: 4))
				@(Html.ArgumentFor<ApiNoticeCreateEdictArguments>(x => x.SendNotification, width: 4, disabled: "currentDate <= arguments.start"))
			</div>
            <div class="row">
                @(Html.ArgumentFor<ApiNoticeCreateEdictArguments>(x => x.ShortDescription))
                @(Html.ArgumentFor<ApiNoticeCreateEdictArguments>(x => x.Description))
            </div>
        </div>
    </div>
    <div class="panel panel-default" style="margin:-15px 0 15px 0">
        <div class="panel-heading font-bold" translate="resources.notice.showInterval">Show interval</div>
        <div class="panel-body">
            <div class="row">
                @(Html.ArgumentFor<ApiNoticeCreateEdictArguments>(x => x.Start, width: 6))
                @(Html.ArgumentFor<ApiNoticeCreateEdictArguments>(x => x.End, width: 6))
            </div>
        </div>
    </div>
    <div class="panel panel-default" style="margin:-15px 0 15px 0">
        <div class="panel-heading font-bold" translate="resources.notice.placeInfo">Place</div>
        <div class="panel-body">
            <div class="row">
                @(Html.ArgumentFor<ApiNoticeCreateEdictArguments>(x => x.Place, width: 12))
            </div>
            <div class="row">
                @(Html.ArgumentFor<ApiNoticeCreateEdictArguments>(x => x.Longitude, width: 6))
                @(Html.ArgumentFor<ApiNoticeCreateEdictArguments>(x => x.Latitude, width: 6))
            </div>
        </div>
    </div>
}
