@using PayIn.Application.Dto.Transport.Results.TransportCardSupportTitleCompatibility;
@using PayIn.Web.App.Factories;
@using Xp.Common;
@using (Html.xpList(
	TransportCardSupportTitleCompatibilityFactory.GetAllName,
	TransportCardSupportTitleCompatibilityFactory.GetAllApi,
	"",
	"resources.transportCardSupportTitleCompatibility.getAll",
	"{{arguments.titleName}}",
	isPaginable: false,
	isTitleActive: true,
	initialSearch:true,
	showSpinner: true,
	init: "scope.arguments.titleId = params.titleId",
	actions: new ActionLink[] {
		new ActionLink(ActionLink.ActionLinkType.Panel, TransportCardSupportTitleCompatibilityFactory.Create("{{$stateParams.titleId}}"),
		XpIcons.Plus,
		arguments: "{\"titleName\":\"{{arguments.titleName}}\"}")}

))
{
    <div class="table-responsive" >
            <table class="table table-hover" ng-show="data.length"col-md-12>
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th translate="resources.transportCardSupport.name">Name</th>
                        <th translate="resources.transportCardSupport.ownerName">Owner Name</th>
                        <th translate="resources.transportCardSupport.type">Type</th>
                        <th translate="resources.transportCardSupport.subType">Sub Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in data" data-ng-class="{'b-l b-5x b-success':item.state === 1,'b-l b-5x b-danger':item.state === 0}">
                        <td ng-show="item.state === 0">&nbsp;</td>
                        <td class="icon-column" ng-show="item.state === 1">
                            @XpColumns.IconColumn(
												   XpIcons.Trash,
												   popupUrl: TransportCardSupportTitleCompatibilityFactory.Delete,
												   id: "{{item.id}}",
												   arguments: "{\"name\":\"{{item.name}}\"}"
												   )
                        </td>
                        <td>@(Html.ColumnFor<TransportCardSupportTitleCompatibilityGetByTitleResult>(x => x.Name, panelUrl: TransportCardSupportTitleCompatibilityFactory.UpdateName, id: "{{item.id}}"))</td>
                        <td>
                            @(Html.ColumnFor<TransportCardSupportTitleCompatibilityGetByTitleResult>(x => x.OwnerName, panelUrl: TransportCardSupportTitleCompatibilityFactory.UpdateName, id: "{{item.id}}"))-@(Html.ColumnFor<TransportCardSupportTitleCompatibilityGetByTitleResult>(x => x.OwnerCode, panelUrl: TransportCardSupportTitleCompatibilityFactory.UpdateName, id: "{{item.id}}"))
                        </td>
                        <td>@(Html.ColumnFor<TransportCardSupportTitleCompatibilityGetByTitleResult>(x => x.Type, panelUrl: TransportCardSupportTitleCompatibilityFactory.UpdateName, id: "{{item.id}}"))</td>
                        <td ng-show="item.subType">@(Html.ColumnFor<TransportCardSupportTitleCompatibilityGetByTitleResult>(x => x.SubType, panelUrl: TransportCardSupportTitleCompatibilityFactory.UpdateName, id: "{{item.id}}"))</td>
                        <td ng-hide="item.subType">*</td>
                    </tr>
                </tbody>
            </table>
        </div>
        }
