@using PayIn.Common.Security;
@using PayIn.Web.Models;

@model RegisterCompanyViewModel

<script type="text/javascript" src="~/Scripts/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="~/Scripts/functions.js"></script>
<script type='text/javascript'>
    var captchaContainer = null;
    var loadCaptcha = function () {
        captchaContainer = grecaptcha.render('captcha_container', {
            'sitekey': '6Leu9Q0TAAAAAKPYd0GkVojIyMlWSkt2QaxTCc8J',
            'callback': function (response) {
                if (response != "") {
                    $('#submitbtnReg').removeAttr('disabled');
                }
                else {
                    $('#submitbtnReg').attr('disabled', 'disabled');
                }
            }
        });
    };
</script>

@{
    Layout = "~/Views/Shared/_Authentication.cshtml";
}

<div class="container w-xxl w-auto-xs">
    <img src="/app/logo_orange.png" alt="Pay[in]" class="navbar-brand block m-t" style="margin:auto;" />
    <div class="wrapper text-center">
        <strong>@SecurityResources.RegisterText <a href="~/Account/Register">@SecurityResources.RegisterTextUser</a>.</strong>
    </div>
    <div class="m-b-lg">
        @Html.Partial("Error")
        @using (Html.BeginForm("RegisterCompany", "Account", "", FormMethod.Post, new { @class = "form", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div id="loading" class="spinnerContainer" style="display:none">
                <img class="spinnerLoading" src="~/Images/spinner.gif" />
            </div>
            <div class="list-group list-group-sm">
                <div id="divUserType" class="list-group-item">
                    @{
                        List<SelectListItem> listItems = new List<SelectListItem>();
                        listItems.Add(new SelectListItem
                        {
                            Text = Xp.Common.Resources.AccountResources.Company,
                            Value = "Company"
                        });
                        listItems.Add(new SelectListItem
                        {
                            Text = Xp.Common.Resources.AccountResources.SelfEmployed,
                            Value = "SelfEmployed"
                        });
                    }

                    @Html.DropDownListFor(m => m.isBussiness, listItems, Xp.Common.Resources.AccountResources.DropdownList, new { @class = "form-control no-border" })
                </div>
                <div id="divSupplierName" class="list-group-item">
                    @Html.TextBoxFor(m => m.SupplierName, new { @id = "supplierName", @class = "form-control no-border", @placeholder = @SecurityResources.SupplierName })
                </div>
                <br />
                <div id="divEmail" class="list-group-item">
                    @Html.TextBoxFor(m => m.Email, new { @id = "email", @class = "form-control no-border", @placeholder = @SecurityResources.Email })
                </div>
                <div id="divPassword" class="list-group-item">
                    @Html.PasswordFor(m => m.Password, new { @id = "password", @class = "form-control no-border", @placeholder = @SecurityResources.PasswordMin })
                </div>
                <div id="divConfirmPassword" class="list-group-item">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @id = "confirmPassword", @class = "form-control no-border", @placeholder = @SecurityResources.ConfirmPassword })
                </div>
                <br />
                <div>
                    <p>
                        @Html.CheckBoxFor(m => m.CheckTerms, new { @id = "terms" })
                        <span>@SecurityResources.AcceptTerms</span>
                        <a href="@SecurityResources.TermsLink" class="btn-link">@SecurityResources.Agreement</a>
                    </p>
                </div>
            </div>
            <div id="captcha_container" class="btn-block"></div>
            <button id="submitbtnReg" class="btn btn-lg btn-orange btn-block" type="submit" disabled="disabled">@SecurityResources.Next</button>
            <div class="line line-dashed"></div>
            <p class="text-center"><small>@SecurityResources.HaveAccountQuestion</small></p>
            <p style="align-self:center">
                @Html.ActionLink(@SecurityResources.Login, "Index", "Home", null, new { @class = "btn btn-lg btn-default btn-block" })
            </p>
            <span>@SecurityResources.InfoEmail</span>
        }
    </div>
</div>
<script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
<script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
