@using PayIn.Application.Dto.Transport.Results.BlackList;
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;
@using Xp.Common;
@using PayIn.Common;
@using PayIn.Domain.Security;

@using (Html.xpList(
	BlackListFactory.GetAllName,
	BlackListFactory.GetAllApi,
	"",
	"resources.blackList.getAll",
	isTitleActive: true,
	//init: "scope.arguments.since='" + DateTime.Now.ToString("yyyy-MM-dd") + "';" + "scope.arguments.until='" + DateTime.Now.ToString("yyyy-MM-dd") + "';",
	initialSearch: false
))
{
	<div class="table-responsive" ng-controller="TransportOperationGetAllController">
		<table class="table table-hover">
			<thead>
				<tr>
					<th translate="resources.blackList.uid">UID</th>
					<th translate="resources.blackList.registrationDate">Registration date</th>
					<th translate="resources.blackList.machine">Machine</th>
					<th translate="resources.blackList.resolved">Resolved  (Date)</th>
					<th translate="resources.blackList.rejection">Rejection</th>
					<th translate="resources.blackList.service">Service</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in data" data-ng-class="{'b-l b-5x b-success':item.resolved===true,'b-l b-5x b-danger':item.resolved===false}">
					<td>@(Html.ColumnFor<BlackListGetAllResult>(x => x.Uid))</td>
					<td>@(Html.ColumnFor<BlackListGetAllResult>(x => x.RegistrationDate))</td>
					<td>@(Html.ColumnFor<BlackListGetAllResult>(x => x.Machine)) <span tooltip="{{item.machineAlias | xpFormatTooltip}}" class="pull-right"><i class="icon-info"></i></span></td>
					<td><span data-ng-show="!item.resolved">{{item.resolved}}</span> <span data-ng-show="item.resolved ===true">{{item.resolutionDate | xpDateTime}}</span></td>
					<td>@(Html.ColumnFor<BlackListGetAllResult>(x => x.Rejection))</td>
					<td>{{item.serviceAlias}} (@(Html.ColumnFor<BlackListGetAllResult>(x => x.Service)))</td>				
				</tr>
			</tbody>
		</table>
	</div>
	<footer class="panel-footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div style="background-color:#27C24C;" class="legendGraph" /><p style="float:left;" translate="resources.blackList.resolvedInfo">Resuelto</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<div style="background-color:#F05050;" class="legendGraph" /><p style="float:left;" translate="resources.blackList.notResolved">Sin resolver</p>
				</div>
			</div>
		</div>
	</footer>
}